body {
    margin: 0;
    position:absolute;
    width: 100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    background-image: url("../assets/about_bg.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "ModeNine";
}