@font-face {
    font-family: 'ModeNine';
    src: url(../assets/fonts/Modenine-2OPd.ttf);
}


body {
    margin: 0;
    position:absolute;
    width: 100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    background-image: url("../assets/bg.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "ModeNine";
}

h1 {
    position: absolute;
    left: 16%;
    top: 36%;
    font-size: 44pt;
    text-shadow: 2px 2px 0.5rem black;
    color: #eee;
}

h2 {
    position: absolute;
    left: 18%;
    top: 46%;
    font-size: 22pt;
    text-shadow: 2px 2px 0.5rem black;
    color: #eee;
}

.nav {
    gap: 7%;
    display: flex;
    position: absolute;
    top: 86%;
    font-size: 22pt;
    width: 70%;
    left: 46%;
}

a {
    color: #CCCCCC;
    text-decoration: none;
    text-shadow: 2px 2px 0.5rem black;
}
a:hover {
    color: #FFFFFF;
    text-shadow: 2px 2px 1rem black;
}

.footer {
    position: absolute;
    left: 10%;
    bottom: 10%;
    width: 30%;
    height: 20%;
    display: flex;
    justify-content: right;
}

img {
    max-height: 100%;
}

.links {
    display: flex;
    flex-direction: column;
    width: 10%;
    position: absolute;
    bottom: 37%;
    left: 18%;
    font-size: 18pt;
    gap: 1vh;
}