
body {
    margin: 0;
    position:absolute;
    width: 100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    background-image: url("../assets/bg.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "ModeNine";
}

h1 {
    position: absolute;
    left: 16%;
    top: 36%;
    font-size: 44pt;
    text-shadow: 2px 2px 0.5rem black;
    color: #eee;
}

h2 {
    position: absolute;
    left: 18%;
    top: 46%;
    font-size: 22pt;
    text-shadow: 2px 2px 0.5rem black;
    color: #eee;
}

.links {
    display: flex;
    flex-direction: column;
    width: 10%;
    position: absolute;
    bottom: 37%;
    left: 18%;
    font-size: 18pt;
    gap: 1vh;
}