.prefaceText {
    font-weight: 300;
    color: var(--spring-green);
    font-size: 20pt;
}

#current {
    position: absolute;
    left: 10vw;
    top: 15vh;
    width: 30vw;
}

#current h1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    text-shadow: 2px 2px 0.5rem black;
    font-size: 50pt;
}

#current h2 {
    margin-top: 0;
    text-align: right;
    color: var(--spring-green);
    text-shadow: 2px 2px 0.5rem black;
    font-weight: 400;
    font-size: 24pt;
    margin-right: 2%;
    margin-bottom: 0;
}

#aboutWork {
    font-size: 15pt;
    text-align: inherit;
    line-height: 2rem;
    margin-top: 2.5rem;
    width: 90%;
    padding-left: 10%;
}

#education {
    display: block;
    width: 41vw;
    right: 7.5vw;
    position: absolute;
    top: 22vh;
}

#education h1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    text-shadow: 2px 2px 0.5rem black;
    font-size: 50pt;
}

#education h2 {
    margin-top: 0;
    text-align: right;
    color: var(--spring-green);
    text-shadow: 2px 2px 0.5rem black;
    font-weight: 400;
    font-size: 24pt;
    margin-right: 2%;
    margin-bottom: 0;
}

#educationContent {
    display: flex;
    height: 25vh;
}

#degreeInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding-left: 1vw;
}

#degreeInfo h3 {
    margin-bottom: 0;
    font-size: 26pt;
}
#degreeInfo h4 {
    margin-top: 0;
    font-size: 16pt;
    color: var(--spring-green);
    font-weight: 300;
    margin-left: 0.5vw;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 5%;
    position: relative;
}

#contact {
    display: none;
}

#oduImg {
    border: 2px solid var(--spring-green);
    border-radius: 50%;
    max-height: 40vh;
    margin-top: 5vh;
}

figcaption {
    margin-top: 2vh;
    font-size: 21pt;
    color: var(--spring-green);
    font-weight: 300;
}
