.prefaceText {
    font-weight: 300;
    color: var(--spring-green);
    font-size: 20pt;
}

#current {
    position: absolute;
    left: 10vw;
    top: 15vh;
    width: 35vw;
}

#current h1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    text-shadow: 2px 2px 0.5rem black;
    font-size: 50pt;
}

#current h2 {
    margin-top: 0;
    text-align: right;
    color: var(--spring-green);
    text-shadow: 2px 2px 0.5rem black;
    font-weight: 400;
    font-size: 22pt;
    margin-right: 2%;
}

#aboutWork {
    font-size: 15pt;
    text-align: inherit;
    line-height: 2rem;
}

#education {
    display: none;
}

#contact {
    display: none;
}

#oduImg {
    max-width: 40%;
    border: 2px solid var(--spring-green);
    border-radius: 50%;
}
